.accordion {
    border: 1px solid #ccc;
    margin: 20px;
    width: 1600px;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
  }
  
  .accordion-title {
    font-weight: bold;
    margin: 0;
  }
  
  .accordion-btn {
    border: none;
    background: ·;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .accordion-btn.expanded {
    transform: rotate(45deg);
  }
  
  /* Estilos para el contenido del acordeón */
  .accordion-content {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
  }


  .icon-spacing {
    margin-right: 10px; /* Ajusta el valor según el espacio deseado */
  }



  /* //MODAL */
  .abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
 
.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
 
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
.boton-esquina {
  margin-right: 40px;
}



/* Estilos para el menú desplegable */
.menu-desplegable {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0; /* Color de fondo para el menú desplegable */
}

/* Estilos para las opciones del menú desplegable */
.opcion {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 5s;
}

.opcion:hover {
  background-color: #d0d0d0; /* Color de fondo al pasar el ratón sobre las opciones */
}

.button-link {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px 15px; /* Ajusta el espaciado según tu preferencia */
  background-color: #5250b7; /* Cambia el color de fondo a tu elección */
  color: #fff; /* Cambia el color del texto a tu elección */
  text-decoration: none;
  border: none;
  border-radius: 4px; /* Agrega esquinas redondeadas si lo deseas */
  cursor: pointer;
  font-size: 15px; /* Ajusta el tamaño de fuente según tu preferencia */
}




